<div class="solu__panes">
  {% for block in section.blocks %}
    {% liquid
      assign active = forloop.first
      assign col = block.settings.collection
    %}
    <div
      id="pane-{{ section.id }}-{{ block.id }}"
      class="solu__pane{% if active %} is-active{% endif %}"
      role="tabpanel"
      aria-labelledby="tab-{{ section.id }}-{{ block.id }}"
      tabindex="0"
    >
      {% if col != blank and col.products_count > 0 %}
        <ul class="grid grid--4-col-desktop grid--2-col-tablet grid--1-col">
          {% for product in col.products limit: section.settings.products_per_tab %}
            <li class="grid__item">
              <div class="solu__card">
                {%- render 'card-product',
                  card_product: product,
                  media_aspect_ratio: 'adapt',
                  show_secondary_image: false,
                  show_vendor: false,
                  show_rating: false,
                  section_id: section.id
                -%}
                <div class="solu__card-copy">
                  {%- assign excerpt = product.metafields.custom.short_description | default: product.description -%}
                  {%- assign excerpt = excerpt | strip_html | truncatewords: 30 -%}
                  {% if excerpt != blank %}
                    <p class="solu__excerpt">{{ excerpt }}</p>
                  {% endif %}
                  <a class="solu__link" href="{{ product.url }}">Ver Producto</a>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <div class="solu__empty">No hay productos en esta colección.</div>
      {% endif %}
    </div>
  {% endfor %}
</div>
